

section::-webkit-scrollbar {
    display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-card-container {
  margin: 0.5em;
}

details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

details summary {
  list-style: none;
  font-size: 0.75em;
  text-decoration: underline;
  width: fit-content;
}

details,
summary:hover {
  cursor: pointer;
}

