header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 1em;
    
}

.search-bar {
    text-align: center;
    border-radius: 1em;
    width: 12rem;
    font-size: 1em;
}


h1:hover {
    cursor: pointer;
}